* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  /* background: url('bg.png'), darkblue; */
  background-color: darkblue;
}
.card a{
  color: gray;
  text-decoration: none;
}
.card a:hover{
  color: #fff;
  text-decoration: none;
  transition: 3s;
}
#name-img-section{
  z-index: 99;
}
#my-skills{
  margin-left: 28px;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.disappear{
  animation: vanish 3s forwards;
}
@keyframes vanish{
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
#service-intro{
  font-size: 22px;
}
.service-card{
  background-color: navy;
  border: 1px solid #FFD700;
  border-radius: 3px;
  position: relative;
  height: 198px;
  width: 280px;
  margin: 3px;
  opacity: 0.5;
}
.service-card:hover {
  flex-grow: 0.03;
  transition: .3s;
  box-shadow: 0 5px 6px 0 rgba(238, 235, 235, 0.7);
  opacity: 0.8;
}
#source-code{
  margin-bottom: 15px;
}
.link-row{
  display: flex;
  gap: 4px;
}
.source-code{
  padding: 6px;
  background-color: navy;
  border-radius: 7px;
  margin-bottom: 3px;
}
.live-site{
  padding: 6px;
  background-color: navy;
  border-radius: 7px;
  /* margin-top: 5px; */
}
.row {
  display: flex;
}
#my-profile {
  margin: 25px 25px;
  border-radius: 50%;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 100px;
  padding-bottom: 10px;
  padding-right: 45px;
  z-index: 99;
  /* background-color: blue; */
  background-color: navy;
  /* background-color: #2A2A72; */
  /* border-bottom: 1px solid #fff; */
  /* margin-bottom: 100px; */
}
.nav_link{
  display: flex;
  font-weight: 500;
  font-size: 18px;
  color: #666;
  position: relative;
  padding: 5px 0;
  overflow:hidden;
  text-decoration: none;
  /* text-transform: uppercase; */
  transition: .3s;
}
.nav_link::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 2px;
  background: #FFD700;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav_link:hover:before{
  right: 0;
}
.nav_link:hover:after{
  left: 0;
}
#navbar a:focus,
#navbar a.active {
  color: #fff;
}
#navbar ul {
  display: flex;
  justify-content: flex-end;
  margin-top: -65px;
}
#navbar ul li {
  list-style: none;
  padding: 10px;
  position: relative;
}
#navbar ul li a {
  text-decoration: none;
  color: #fff;
}
/* ul li a:active {
  color: red;
} */
#navbar ul li a:hover {
  color: #FFD700;
  transition: 0.3s;
}
#iam{
  font-size: 17px;
  margin-top: 42px;
  font-weight: bolder;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  font-family: consolas;
  /* display: none; */
  width: 12ch;
}
#img-right{
  float: right;
  width: 450px;
  height: 500px;
  margin-right: 1px;
}
#paragraph1 {
  color: white;
  border: 3px solid #FFD700;
  border-radius: 5px;
  width: 55%;
  max-width: 60%;
  /* text-align: center; */
  margin: 175px auto 49px;
  padding: 3%;
}
#paragraph1 p {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#service-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#service-title{
  font-size: 24px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-github,
.fa-youtube{
  color: #FFD700;
  padding: 2.5%;
}
.fa-desktop,
.fa-search,
.fa-cogs,
.fa-code,
.fa-folder,
.fa-file-text,
.fa-gamepad{
 color: #FFD700;
}
#icons {
  text-align: center;
  margin-top: 5px;
}
#icon{
  margin-left: 20em;
  /* padding-left: 15%; */
}
i{
 color: #FFD700;
}
.fa-star{
  border: blue;
}
 i:hover {
  color: #fff;
  transition: 3s;
}  
#paragraph2 {
  padding-top: 25px;
  text-align: center;
  letter-spacing: 3px;
  padding-left: 4%;
  font-size: 22px;
  width: 90%;
  padding-bottom: 100px;
}

#paragraph5{
  text-align: center;
  padding-left: 4%;
  width: 90%;
  display: flex;
  align-items: center;
  padding-top: -1050px;
  letter-spacing: 3px;
  font-size: 22px; 
}

#about-me {
  color: #fff;
  letter-spacing: 3px;
  padding-left: 100px;
  font-size: 22px;
  margin-top: 110px;
}
ul.tools {
  list-style-type: square;
  padding: 35px 35px;
}
#tools ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#contact {
  color: #fff;
}
#contact h1 {
  margin: 3% 3%;
}
#contact h1::before {
  content: "";
  background-color: red;
  /* color: red; */
  width: 1000px;
  height: 5px;
  position: relative;
  top: 50px;
}
#contact p {
  margin-left: 5%;
  text-align: center;
  width: 45%;
  font-size: 21px;
  padding-top: 50px;
}
#my-form {
  float: right;
  padding-right: 7.5%;
  position: relative;
  top: -22em;
  padding-bottom: 2em;
}
input {
  width: 100%;
}
textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
#projects {
  margin-top: 110px;
  color: #fff;
}
#services {
  margin-top: 110px;
  color: #fff;
}
#collection {
  margin-top: 38px;
	display: flex;
  gap: 50px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#service-collection {
  margin-top: 38px;
	display: flex;
  gap: 50px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#projects h1 {
  margin-left: 5%;
  margin-top: 5%;
}
#projects p {
  margin-left: 5%;
}
.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
.primary-navigation a {
  text-decoration: none;
}
.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}
.mobile-nav-toggle {
  display: none;
}
@media (max-width: 45rem) {
  .primary-navigation {
    backdrop-filter: blur(1rem);
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
  .primary-navigation.underline-indicators > .active {
    border: 0;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 1rem;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }
  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
  #icon{
    /* margin-left: 20em; */
    padding-left: 23%;
  }
}
@media (max-width: 720px) {
  #img-right{
    display: none;
  }
}
@media (min-width: 63rem) {
  #icon{
    margin-left: 13em;
    /* margin-left: 20em; */
    /* padding-left: 12%; */
  }
  #my-form{
    padding-top: 3%;
  }

}
@media (max-width: 63.5rem) {
  #my-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 25%;
   margin-left: 25%;
   margin-top: -5em;
   padding-bottom: 1.5em;
  }
  #paragraph6{
   margin-top: 13em;
   padding-left: 2%;
   min-width: 80%;  
  }
  #paragraph7{
   padding-bottom: 45px;
   padding-left: 2%;
   min-width: 80%;
   display: flex;
   align-items: center;
  }
  #icon{
   margin-bottom: -5em;
    padding-left: 23%;
   margin-left: 10%;
  }
  #paragraph1 {
    color: white;
    border: 3px solid #FFD700;
    width: 55%;
    min-width: 90%;
    margin: 175px auto 49px;
    padding: 1%;
  }
  #about-me {
    color: #fff;
    letter-spacing: 3px;
    padding-left: 25px;
    font-size: 22px;
    margin-top: 110px;
  }
  #paragraph5{
    margin-top: 5px;
  }
  #separator{
    padding-top: -1450px;
  }
 }
 @media (min-width: 36rem) and (max-width: 62.9rem) {
  #my-form{
    /* float: left; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
   }

} 
 @media (min-width: 62.5rem) and (max-width: 63.5rem) {
  #my-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    padding-bottom: 0.5em;
   }
}
 input{
  padding: 0.8em;
  border-radius: 5px;
  outline: none;
 }
 ::-webkit-input-placeholder { 
  font-size: 1.2em;
}
:-ms-input-placeholder { 
  font-size: 1.2em;
}
::placeholder {
  font-size: 1.2em;
}
.submit-btn, .submit{
  color: #f5f5f5;
  padding: 0.4em;
  width: 100%;
  background-color: goldenrod;
  font-size: 1.3em;
  font-weight: bolder;
  border-radius: 5px;
  border: 1px solid #FFD700 ;
}
.submit-btn:hover{
  color: blue;
  background-color: rgb(233, 217, 177);
  transition: 2s;
}
.submit:hover {
  color: blue;
  background-color: rgb(233, 217, 177);
  transition: 2s;
}

.pro{
  margin-bottom: 10px;
}
.twitter-follow-button{
  margin-top: 50px;
}
#followers-btn{
  display: none;
}
/* #project-card{
  width: 25%;
  height: 30%;
  border: 1px solid red;
  position: relative;
} */
#paragraph-project {
  text-align: center;
  letter-spacing: 3px;
  padding-left: 15%;
  font-size: 22px;
  width: 90%;
  margin-top: -300px;
}
#footing{
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 50px;
  border-top: 1px solid #fff;
}
footer {
  clear: right;
  color: #fff;
  justify-content: center;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-top: 1px solid #fff;
}
.card {
  height: 165px;
  width: 280px;
  margin: 3px;
}
.cont {
  padding: 2px 10px;
  margin-top: 2.5px;
  margin-left: -15px;
}
.review-container{
  margin-top: 95px;
}
#project-img{
  border-radius: 5px;
}
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8%;
}
.bottomreview{
  padding-top: 45px;
}
.review {
  z-index: 10;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  font-size: 1.1rem;
  overflow: hidden;
}
.reviewstuff{
  width: 80%;
}
.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.reviewinp {
  width: 300px;
  height: 70px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5; 
  resize: none;
  padding: 10px 5px 10px 10px;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 1rem;
}
.stars {
  z-index: 10;
  display: flex;
  padding: 0 20px;
  margin-left: -10px;
}
.star1, .star2, .star3, .star4, .star5 {
  margin-right: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}
.submit {
  display: block;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 1rem;
  margin-top: 150px;
  margin-left: -320px;
  width: 100px;
}
.arrows {
  font-size: 1.8rem;
  cursor: pointer;
}

.input-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border: 1.5px solid #d1d1d1;
  width: 80%;
  margin: auto;
}
.names {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.firstname, .lastname {
  width: 50%;
  padding: 10px 0 10px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  font-family: 'Sulphur Point', sans-serif;
  font-size: 1rem;
}
.firstname {
  margin-right: 10px;
}
.lastname {
  margin-left: 10px;
}
.reviewstuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rname {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}
.rfname {
  margin-right: 2.5px;
  white-space: nowrap;
}

.rlname {
  margin-left: 2.5px;
  white-space: nowrap;
}
.bottomreview {
  border-radius: 1px solid red;
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.fa-star:hover{
color: #FFD700;
}
.stars2 {
  display: flex;
}
.errorcontainer {
  width: 75%;
  margin-left: 12%;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: absolute;
  background-color: #FFD700;
  color: blue;
  padding: 10px 75px;
  text-align: center;
  display: flex;
  opacity: 0;
  transition: opacity, .5s;
}
.display {
  opacity: 1;
}
.exc {
  margin-right: 20px;
  font-size: 1.3rem;
}

.thank-you-container {
  font-size: 2rem;
  color: #919191;
  display: none;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  transition: all .7s;
  opacity: 0;
}
.thank-you {
  white-space: nowrap;
}
.fa-kiss-wink-heart{
  color: #ff429a;
  margin-left: 10px;
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45 + 360deg);
  }
}
.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg); 
}
.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, #5f91ff);
  border-radius: 999px;
  /* filter: drop-shadow(0 0 6px #699bff); */
  animation: shooting 3000ms ease-in-out infinite; }
  .shooting_star::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite; }
  .shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg); }
  .shooting_star:nth-child(1) {
    top: calc(50% - 25px);
    left: calc(50% - 73px);
    animation-delay: 7536ms; }
    .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
      animation-delay: 7536ms; }
  .shooting_star:nth-child(2) {
    top: calc(50% - 164px);
    left: calc(50% - 82px);
    animation-delay: 2487ms; }
    .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
      animation-delay: 2487ms; }
  
  .shooting_star:nth-child(3) {
    top: calc(50% - 0px);
    left: calc(50% - 79px);
    animation-delay: 6590ms; }
    .shooting_star:nth-child(3)::before, .shooting_star:nth-child(4)::after {
      animation-delay: 6590ms; }
  .shooting_star:nth-child(4) {
    top: calc(50% - 94px);
    left: calc(50% - 101px);
    animation-delay: 2974ms; }
    .shooting_star:nth-child(4)::before, .shooting_star:nth-child(5)::after {
      animation-delay: 2974ms; }
  .shooting_star:nth-child(5) {
    top: calc(50% - -29px);
    left: calc(50% - 141px);
    animation-delay: 8329ms; }
@keyframes shining {
  0% {
    width: 0; }
  50% {
    width: 30px; }
  100% {
    width: 0; } }
@keyframes shooting {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(300px); } 
  }
